@model IEnumerable<RentACar.ServicesInfrastructure.DTO.PortfolioDTO>

@foreach (var item in Model)
{
    <div class="container mt-md-2">
        <h4 class="bg-secondary text-light p-2">@item.Name</h4>
        <div class="row m-2">
            @foreach (var cars in item.Cars)
            {
                <div class="col-md-4">
                    <div class="bg-light p-2" >
                        <h5>Brand: @cars.Brand</h5>
                        <p>Description: @cars.Description</p>
                        <div>Model: @cars.Model | Type: @cars.Type</div>
                        <div>Price: @cars.Price</div>
                   </div>
                </div>
            }
        </div>
    </div>
}

@*<div>
        <h3>@Model.Name, @Model.PortfolioId</h3>
        <div>
            @foreach (var cars in Model.Cars)
                {
                <h5>Brand: @cars.Brand</h5>
                    <p>Description: @cars.Description</p>
                    <div>Model: @cars.Model | Type: @cars.Type</div>
                    <div>Price: @cars.Price</div>
            }
        </div>
        <hr />
    </div>*@