@model RentACar.ServicesInfrastructure.DTO.PortfolioDTO

<div class="row">
    <div class="col-md-2">
        <img src="@Model.Photo.Url" alt="Portfolio Photo" />
    </div>
    <div class="col-md-10">
        <h5>@Model.Name</h5>
        <p>@Model.Description</p>
    </div>
</div>
<div class="row">
    @foreach (var car in Model.Cars)
    {
        <div onclick="" class="col-md-3">
            <div class="bg-secondary text-light mt-md-4 p-2">
                <img src="@car.MainPhoto.Url" alt="Car Photo" />
                <h5>@car.Brand @car.Model </h5>
                <h4>@car.Price</h4>
            </div>
        </div>
    }
</div>
