@model RentACar.ServicesInfrastructure.DTO.PortfolioDTO

<div class="row">
    <div class="col-lg-4">
        <img class="card-img-top" src="@Model.Photo.Url" alt="Portfolio Photo" />
    </div>
    <div class="col-lg-8 d-flex align-items-center">
        <div>
            <h5 class="text-info">@Model.Name</h5>
            <p>@Model.Description</p>
        </div>
    </div>
</div>
<hr class="my-4">
@if (Model.Cars.Count() == 0)
{
    <h5 class="text-center text-info">Sorry, there are no cars in this portfolio.</h5>
}
else
{
    <div class="card-deck">
        @foreach (var car in Model.Cars)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 pb-3 pt-3">
                <div class="card">
                    <img class="card-img-top" src="@car.MainPhoto.Url" alt="Portfolio image">
                    <div class="card-body">
                        <h5 class="card-title text-info">@car.Brand @car.Model</h5>
                        <p class="card-text">Price: @car.Price€</p>
                    </div>
                    <div class="card-footer bg-transparent row border-0 m-0">
                        <div class="col-7 align-self-center">
                            @if (car.IsAvailable)
                            {
                                <p class="card-text text-success font-available">Available</p>
                            }
                            else
                            {
                                <p class="card-text text-danger font-available">Unavailable</p>
                            }
                        </div>
                        <a href="@Url.Action("Details", "Car", new { id = car.CarId })" 
                           class="btn btn-primary col-5 text-nowrap pl-0 pr-0 pt-3 pb-3">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section Styles {
    <link href="@Url.Content("~/Styles/Card.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/Details.css")" rel="stylesheet" type="text/css" />
}
